* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.black {
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  min-height: 100vh;
  min-width: 100vw;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto{
  display: flex;
  flex-direction: column;
}
  button{
    display: flex;
    align-items: center;
    justify-content: center;


  }