

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.botaoConta{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 22px;
  gap: 2vh;
}
.balaco{
  margin: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  margin-left: 20px;
  color: rgb(255, 255, 255);
  background-color: cadetblue;
  border-radius: 5px;
}
.sumir{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.copiaInsta{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px;
  gap: 5vh;
  flex-direction: column;
}
.contCaracter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px;
  gap: 5vh;
  flex-direction: column;
}
.formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px;
  gap: 5vh;
  flex-direction: column;
}
.body{
  background-image: url(assets/galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}